.navbar-brand img{
    height: 10vh;
    aspect-ratio: 1.7;
}
.nav-link{
    font-size: 25px;
    font-weight: 400;
}
body #main-body{
    background-image: url(images/bodybg.jpeg);
    background-size:cover;
    height: 87.5vh;
    width: 100vw;
}